<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825305986047-dujf9k5ku5hubqb1a2vo7t805gjsago6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825305986047-dujf9k5ku5hubqb1a2vo7t805gjsago6</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JBoX54zurKPXKKmq_zf8xqdu0BpDN3U</string>
	<key>GCM_SENDER_ID</key>
	<string>825305986047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irisapp.ios</string>
	<key>PROJECT_ID</key>
	<string>stellium-relationship-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>stellium-relationship-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825305986047:ios:7e814695b931796a576dca</string>
</dict>
</plist>