<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056285065517-bm65rgfa23gehv91ftjl63shphiaqe4b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056285065517-bm65rgfa23gehv91ftjl63shphiaqe4b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056285065517-cgulomsuffj7ugg9o57d77dm795pc3hl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPftp0zDH2AmmEU6ajEkFmsh6CS-3-sRw</string>
	<key>GCM_SENDER_ID</key>
	<string>1056285065517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stelliumapp.dev</string>
	<key>PROJECT_ID</key>
	<string>stellium-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>stellium-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056285065517:ios:0b0c7b5212e0cf3cf8d3a4</string>
</dict>
</plist>